@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-titulos: #FFF2E7;
    --cor-subtitulos: #C7BAB3;
    --cor-menu: #FFF2E780;
    --cor-principal: #181012;
    --cor-marrom: #A45A49;
    --cor-amarelo: #E7A80E;
    --cor-receita-avaliacao: #756A67;
    --cor-footer: #23181A;
    --cor-footer-autor: rgb(255, 242, 231, 0.50);
    --cor-receitas-card: #2A1A1C;

    --fonte-primaria: Inter, sans-serif;
    --fonte-secundaria: Montserrat;
    --fonte-terciaria: Teko;
}

body {
    background: #1F1517;
    color: #FFFF;
}

html {
    font-family: var(--fonte-primaria);
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--fonte-terciaria);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: var(--cor-menu);
}

.github {
    color: var(--cor-titulos);
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal{
    background: var(--cor-principal);
}

.hero {
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque{
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: var(--cor-marrom);
}

.amarelo {
    color: var(--cor-amarelo);
}

h1 {
    font-family: var(--fonte-secundaria);
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: var(--cor-marrom);
}

.hero-subtitulo {
    color: var(--cor-subtitulos);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-imagens-container {
    max-width: 100%;
    column-count: 4;
    column-gap: 0.5rem;
    margin: -1rem;
}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.botao-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;

    background: var(--cor-marrom);
}

.receitas {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-titulos);
}

.receitas-subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-subtitulos);
}

.receitas-card-container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas-card {
    background: var(--cor-receitas-card);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-titulos);
}

.receita-avaliacao {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-receita-avaliacao);
}

.receita-descricao{
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-subtitulos);
}

.receita-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img {
    border-radius: 20rem;
    width: 2rem;
}

.receita-autor-nome {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-subtitulos);
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: var(--cor-footer);
}

.footer-copy {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-titulos);
}

.footer-autor {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-footer-autor);
}

